:root {
  --main-font-size: 1.2rem; 
  --heading-font-size: 2.5rem;
  --color-black: #000000;
  --color-gray: #555555;
  --color-dark: #333333;
  --color-linkedin: #0077b5;
  --color-twitter: #ffffff;
  --color-instagram: #C13584;
  --transition-duration: 0.3s;
  font-size: 16px; /* Set the root font size */
}

/* Main container for the about us page */
.about-us-page {
  margin-top: 12.5rem; /* 200px */
}

/* Container to center the content */
.about-us-container {
  max-width: 50rem; /* 800px */
  margin: 0 auto;
}

/* Styles for the content sections */
.about-us-content,
.meet-team-content {
  margin-bottom: 3.125rem; /* 50px */
}

.about-us-content h1,
.meet-team-content h1 {
  font-size: var(--heading-font-size);
  margin-bottom: 1.25rem; /* 20px */
}

.about-us-content p {
  font-size: var(--main-font-size);
  line-height: 1.5;
  margin-bottom: 1.25rem; /* 20px */
}

/* Flex container for team members */
.team-members {
  display: flex;
  gap: 3.75rem; /* 60px */
  margin-top: 1.25rem; /* 20px */
}

.team-member {
  text-align: center;
}

/* Styles for the team member photos */
.team-member-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity var(--transition-duration) ease-in-out, transform var(--transition-duration) ease-in-out;
}

.team-member-photo:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Team member name */
.team-member h3 {
  font-size: var(--main-font-size);
  margin: 1.25rem 0 0.3125rem; /* 20px 0 5px */
  color: var(--color-black);
}

/* Team member description */
.team-member p {
  font-size: 1.1rem;
  line-height: 1.2; /* Changed to a more standard line-height */
  color: var(--color-gray);
}

/* Social icons container */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 0.625rem; /* 10px */
  margin-top: 0.625rem; /* 10px */
}

/* Default style for social icons */
.social-icons a {
  color: var(--color-dark);
  font-size: 1.5rem;
  transition: color var(--transition-duration);
}

/* Example hover color change for LinkedIn */
.social-icons a:hover {
  color: var(--color-linkedin);
}

.social-icons a:hover .fa-twitter {
  color: var(--color-twitter);
}

.social-icons a:hover .fa-instagram {
  color: var(--color-instagram);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .team-members {
    flex-direction: column;
    gap: 1.25rem; /* 20px */
  }
}